@import url("https://use.typekit.net/ivd2uzt.css"); /*adobe fonts*/

/*
==========Page Styling==========
*/

body {
	background-color: #191414;
	margin: 0px;
	color: white;
	font-family: proxima-nova;
}

input {
	border-radius: 10px;
    border: solid 1px black;
    padding-left: 5px;
}

/*
==========Header Styling==========
*/

.header {
	width: auto;
	height: 50px;
	background: black;
	padding-top: 1px;
	text-align: center;
}

/*
==========Search Bar Styling==========
*/

.searchBar {
	background: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	height: 50px;
	padding-top: 1px; 
	width: auto;	
}	

.searchFlexContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	flex: 0 2 420px;
	padding-top: 15px;
}

.playlistFlexContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	flex: 0 2 330px;
	padding-top: 15px;
}

.timeRange {
	flex: 0 0 180px;
}

.numSongs {
	flex: 0 0 180px;
}

.button {
	flex: 0 0 auto;
	border-radius: 10px;
    border: solid 1px black;
    background-color: #1db954;
    color: white;
}

.playlistName {
	flex: 0 0 215px;
}

/*
==========Song Flex Styling=========
*/

.flexContainer {
	display: flex;
	flex-flow: row wrap;
	margin: 30px;
}

.flexItem {
	flex: 0 0 250px; /*if the album art size is changed this needs to be changed to the same size!*/
    padding: 10px 36px 10px 36px;
}

/*
==========Grid Styling==========
*/
.gridContainer {
	display: grid;
	grid-template-rows: max-content auto;
	padding-bottom: 30px;
}

.gridInfo {
	color: white;
    padding: 5px 5px 5px 10px;
    background-color: rgb(50,50,50);
    /*background-color: #1db954;*/
    border-radius: 0px 0px 15px 15px;
}
